

.header {
    margin-top: 45px;
}

.header__logo {
    background: transparent url(../images/page-logo.svg) center no-repeat;
    height: 33px;
    width: 173px;
}

.header__logo {
    margin-bottom: 41px;
}

.header__divider {
    border-top: 1px solid #545454;
    opacity: 0.7;
  }

  @media screen and (max-width: 480px) {
    .header__logo {
        background: transparent url(../images/logo-small.svg) center no-repeat;
        height: 24px;
        width: 126px;
    }
    
}