.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}
#delete-modal .modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}

#delete-modal .modal__title {
  margin-bottom: 0; 
}

#delete-modal .modal__form-button {
  margin-top: 0;
}


.modal_opened {

    visibility: visible;
    opacity: 1;
    transition: 0.5s;

}

.modal__container {
  position: relative;
  border: 1px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 430px;
  max-height: 330px;
  padding: 36px;
  padding-top: 34px;
  margin: auto;
  margin-top: 195px;
}

.modal__button-close {
  background: url(../images/close-icon.svg) no-repeat;
  background-size: contain;
  position: absolute;
  border-style: none;
  padding: 0;
  height: 40px;
  width: 40px;
  top: -46px;
  right: -45px;
}

.modal__button-close:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  color: #000;
  margin-top: 0;
  margin-bottom: 24px;
  width: 330px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.modal__form-input {
  margin-top: 30px;
  width: 358px;
  height: 27px;
  padding: 0;
  border-style: none;
  border-bottom-style: solid;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-top: 12px;
  margin-top: 20px;
}

.modal__form-input:focus {
  outline: none;
}

.modal__form-button {
  width: 358px;
  height: 50px;
  border-radius: 2px;
  border-style: none;
  background-color: #000;
  color: #fff;
  margin-top: 48px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 71px;
}

.modal__form-button:hover {
  cursor: pointer;
  opacity: 80%;
}

.modal__container-preview {
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  width: auto;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 90px;
  

}


.modal__preview {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
  margin-bottom: 90px;
}



.modal__lable {
display: flex;
flex-direction: column;
height: 44px;
}

.modal__error {
  color: red;
  display: none;
  
}

.modal__input_type_error {

  border-bottom-color: red;
}

.modal__error_visible {
  display: block;
  font-weight: 400;
  font-size: 12px;
  max-width: 358px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  height: 12px;
  padding-bottom: 19px;
  
}

.modal__form-button_disabled {
  border-width: 1px;
  border-radius: 2px;
  border-color: #000;
  border-style: solid;
  color: #000;
  background-color: #fff;
  opacity: 20%;
}

@media screen and (max-width: 619px) {
  .modal {
    padding-bottom: 25px;
  }
  .modal__container {
    width: 282px;
    padding: 0;
  }

  .modal__title {
    padding-top: 25px;
    padding-left: 22px;
    padding-right: 22px;
    width: 238px;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 45px;
    margin: 0;
  }

  .modal__form {
    align-items: center;
    padding-bottom: 25px;
  }

  .modal__form-input {
    width: 238px;
  }

  .modal__form-button {
    height: 46px;
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }

  .modal__button-close {
    position: absolute;
    right: 0;
    top: -46px;
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 619px) { 
  .modal__close {
      position: absolute;
      right: 0;
      top: -46px;
      width: 30px;
      height: 30px;
    }

    .modal__input_type_error {
      
      max-width: 238px;
      
  }
}